GROQ_API_KEY=gsk_xa29P4FWGrU3dIlzeFrmWGdyb3FYVduKe1gXgUdygGTzYSPWm38
LLM_API_KEY=your_llm_api_key_here
VECTOR_DB_URL=chroma
EMBEDDING_MODEL=text-embedding-3-small
DATABASE_URL=sqlite:///./settribe.db


